* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: none;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
}

body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2%;
  background-color: rgba(249, 252, 255, 1);
  color: rgba(77, 77, 82, 1);
}

h1 {
  font-size: 44px;
  color: rgba(120, 114, 185, 1);
  font-weight: 900;
}

h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 130%;
  color: rgba(120, 114, 185, 1);
  margin: 0 auto;
  padding: auto;
  text-align: center;
}

h3 {
  font-size: 24px;
  line-height: 150%;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 1%;
  color: rgba(77, 77, 82, 1);
}

h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 1%;
  text-align: center;
}

h5 {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 1%;
  text-align: left;
  color: rgba(77, 77, 82, 1);
}

h6 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 1%;
  text-align: center;
  color: rgba(120, 114, 185, 1);
}

button {
  user-select: none;
  display: block;
}

img {
  user-select: none;
}

/*HeroBlock*/
.container {
  max-width: 1180px;
  margin: 0 auto;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
}

.btnLogin {
  padding: 14px 35px;
  border-radius: 10px;
  font-weight: 550;
  line-height: 140%;
  font-size: 16px;
  text-align: center;
  color: rgba(120, 114, 185, 1);
  border: 2px solid rgba(120, 114, 185, 1);
  background-color: inherit;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.btnLogin:hover {
  background-color: rgb(240, 242, 245);
}

.menu {
  list-style: none;
  display: flex;
  gap: 70px;
}

.menu a {
  cursor: pointer;
  font-weight: 600;
  line-height: 1.88;
  color: rgba(77, 77, 82, 1);
  text-decoration: none;
}

.menu a:visited {
  color: rgba(77, 77, 82, 1);
  text-decoration: none;
}

.menu a:hover {
  color: rgba(120, 114, 185, 1);
}

#about_us {
  text-decoration: underline rgba(120, 114, 185, 1);
  text-underline-offset: 10px;
}

.logo {
  cursor: pointer;
}

.hero-block {
  padding: 80px 0 100px;
}

.hero-block .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-block-text {
  position: relative;
}

.hero-block-text h1:nth-child(1) {
  margin-bottom: 25px;
}

.ellipse-hero {
  position: absolute;
  left: -27px;
  bottom: -19px;
}

/*Блок 2*/
.second-block {
  padding: 89px 0 120px;
  background-color: #fff;
}

.second-block img {
  max-width: 200px;
  max-height: 200px;
}

.cards {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: start;
  justify-content: space-between;
}

.card-info {
  min-width: 380px;
  min-height: 316px;
  margin-top: 190px;
  padding: 130px 35px 35px;
  background-color: rgba(235, 245, 255, 1);
  text-align: center;
  border-radius: 20px;
  position: relative;
}

.card-info h3 {
  margin-bottom: 15px;
}

.card-info:nth-child(2) {
  height: 339px;
}

.image-second_block {
  position: absolute;
  left: 85px;
  top: -100px;
}

.card-info p {
  max-width: 290px;
  margin: 0 auto;
}

/*Блок 3*/
.third-block {
  background-color: rgba(249, 252, 255, 1);
  padding-block: 80px;
}

.third-block .container {
  position: relative;
}

.third-block h2,
.third-block h3,
.third-block h4 {
  text-align: left;
}

.third-block h2 {
  margin: 0;
  margin-bottom: 27px;
  max-width: 1080px;
}

.third-block h3 {
  margin-bottom: 10px;
}

#four-main-h4 {
  margin-bottom: 10px;
  max-width: 780px;
}

.line {
  position: absolute;
  left: 490px;
  top: 155px;
  width: 321px;
  height: 11px;
}

.specialists_container {
  display: flex;
  align-items: center;
  gap: 80px;
  padding-top: 94px;
}

.specialists_container h3,
.specialists_container h5 {
  text-align: center;
}

.specialists_container img {
  margin-bottom: 30px;
}
