* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
  overflow-y: hidden;
  overscroll-behavior-x: none;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: none;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
}

:root {
  /*Цвета*/
  --color-purple: rgba(120, 114, 185, 1);
  --color-white: #fff;
  --color-skyBlue: rgba(249, 252, 255, 1);
  --color-btnColor: rgba(255, 255, 255, 1);
  --color-text: rgba(77, 77, 82, 1);
  --color-btnRates: rgba(241, 230, 247, 1);
  --color-btnRates-hover: rgba(215, 195, 230, 1);
  --color-shadow: rgba(205, 225, 255, 1);
  --color-dopElements: rgba(235, 245, 255, 1);
  --color-btnLogin-hover: rgba(215, 195, 230, 0.25);

  /**/
}

body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2%;
  background-color: var(--color-skyBlue);
  color: var(--color-text);
  overflow-x: hidden;
  width: 100%;
}

h1 {
  font-size: 44px;
  color: var(--color-purple);
  font-weight: 900;
}

h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 130%;
  color: var(--color-purple);
  margin: 0 auto;
  padding: auto;
  text-align: center;
}

h3 {
  font-size: 24px;
  line-height: 150%;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 1%;
  color: var(--color-text);
}

h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 1%;
  text-align: center;
}

h5 {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 1%;
  text-align: left;
  color: var(--color-text);
}

h6 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 1%;
  text-align: center;
  color: var(--color-purple);
}

button {
  user-select: none;
  display: block;
}

img {
  user-select: none;
}

/*HeroBlock*/
.container {
  max-width: 1180px;
  margin: 0 auto;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
}

.btnLogin {
  padding: 14px 35px;
  border-radius: 10px;
  font-weight: 550;
  line-height: 140%;
  font-size: 16px;
  text-align: center;
  color: var(--color-purple);
  border: 2px solid var(--color-purple);
  background-color: inherit;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.burger-menu {
  display: none;
}

.btnLogin:hover {
  background-color: var(--color-btnLogin-hover);
}

.menu {
  list-style: none;
  display: flex;
  gap: 70px;
}

.menu a {
  cursor: pointer;
  font-weight: 600;
  line-height: 1.88;
  color: var(--color-text);
  text-decoration: none;
}

.menu a:visited {
  color: var(--color-text);
  text-decoration: none;
}

.menu a:hover {
  color: var(--color-purple);
}

#about_us {
  text-decoration: underline var(--color-purple);
  text-underline-offset: 10px;
}

.logo {
  cursor: pointer;
}

.hero-block {
  padding: 80px 0 100px;
}

.hero-block .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-block-text {
  position: relative;
}

.hero-block-text h1:nth-child(1) {
  margin-bottom: 25px;
}

.ellipse-hero {
  position: absolute;
  left: -27px;
  bottom: -19px;
}

/*Блок 2*/
.second-block {
  padding: 89px 0 120px;
  background-color: var(--color-white);
}

.second-block img {
  max-width: 200px;
  max-height: 200px;
}

.second-block input {
  display: none;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: start;
  justify-content: space-between;
}

.card-info {
  min-width: 380px;
  min-height: 316px;
  margin-top: 190px;
  padding: 130px 35px 35px;
  background-color: rgba(235, 245, 255, 1);
  text-align: center;
  border-radius: 20px;
  position: relative;
}

.card-info h3 {
  margin-bottom: 15px;
}

.card-info:nth-child(2) {
  height: 339px;
}

.image-second_block {
  position: absolute;
  left: 85px;
  top: -100px;
}

.card-info p {
  max-width: 290px;
  margin: 0 auto;
}

/*Блок 3*/
.third-block {
  background-color: var(--color-skyBlue);
  padding-block: 80px;
}

.third-block .container {
  position: relative;
}

.third-block h2,
.third-block h3,
.third-block h4 {
  text-align: left;
}

.third-block h2 {
  margin: 0;
  margin-bottom: 27px;
  max-width: 1080px;
}

.third-block h3 {
  margin-bottom: 10px;
}

.line {
  position: absolute;
  left: 490px;
  top: 155px;
  width: 321px;
  height: 11px;
}

.specialists_container {
  display: flex;
  align-items: center;
  gap: 80px;
  padding-top: 94px;
}

.specialists_container h3,
.specialists_container h5 {
  text-align: center;
}

.specialists_container img {
  margin-bottom: 30px;
}
/*Блок 4*/
.fourth-block {
  padding: 100px 0 120px;
  background-color: var(--color-white);
}

.fourth-block h2,
.fourth-block h3,
.fourth-block h4 {
  text-align: left;
  margin: 0;
}

.fourth-block h3 {
  margin-bottom: 10px;
  max-width: 840px;
}

.card-advantages {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  gap: 30px;
  margin-top: 60px;
}

.advantage {
  background-color: rgba(235, 245, 255, 1);
  border-radius: 20px;
}

.advantage h4 {
  margin-top: 15px;
}

.advantage-flex {
  display: flex;
  gap: 50px;
}

.book {
  padding: 20px 0 20px 30px;
}

.watch {
  padding: 20px 0 20px 30px;
}

.edu {
  grid-column: 1/3;
}

.exp {
  grid-column: 3/4;
}

.train {
  grid-column: 1/2;
}

.therapy {
  grid-column: 2/4;
}

.min-card {
  padding: 42px 90px;
}

.edu .advantage-details {
  padding: 28px 59px 29px 0;
}

.therapy .advantage-details {
  padding: 42px 170px 43px 0;
}

#passing {
  min-width: 290px;
}
/*Блок 5*/
.fifth-block {
  padding: 80px 0 101px;
}

.hystory-underblock-first {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 90px 0 120px;
}

.hystory-underblock-first_text {
  max-width: 620px;
}

.hystory-underblock-first_text h3 {
  text-align: right;
  color: var(--color-purple);
  margin-bottom: 5px;
}

.hystory-underblock-first_text p {
  text-align: right;
}

.quote-Maria:before {
  content: url("../images/noun-quotation-mark-1569235 3.png");
  left: -70px;
  top: -15px;
  position: absolute;
}

.quote-Maria:after {
  content: url("../images/noun-quotation-mark-1569235 4.png");
  right: -25px;
  bottom: -27px;
  position: absolute;
}

.quote-Maria {
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 1%;
  text-align: left;
  max-width: 510px;
  margin-bottom: 50px;
  margin-right: 35px;
  position: relative;
}

.hystory_Maria-img {
  filter: drop-shadow(15px 15px 1px rgba(235, 245, 255, 1));
}

.hystory-underblock-second {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 90px 0 120px;
}

.hystory-underblock-second_text {
  max-width: 620px;
}

.hystory-underblock-second_text h3 {
  text-align: right;
  color: var(--color-purple);
  margin-bottom: 5px;
}

.hystory-underblock-second_text p {
  text-align: right;
}

.quote-Ivan:before {
  content: url("../images/noun-quotation-mark-1569235 3.png");
  left: -70px;
  top: -15px;
  position: absolute;
}

.quote-Ivan:after {
  content: url("../images/noun-quotation-mark-1569235 4.png");
  right: -50px;
  bottom: -27px;
  position: absolute;
}

.quote-Ivan {
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 1%;
  text-align: left;
  max-width: 470px;
  margin-bottom: 50px;
  position: relative;
  margin-right: 60px;
}

.hystory_Ivan-img {
  filter: drop-shadow(15px 15px 1px rgba(235, 245, 255, 1));
}

/*Блок 6*/
.sixth-block {
  background-color: var(--color-white);
  padding-block: 120px;
}

.company-logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 95px;
}

/*footer*/
.footer {
  padding-block: 80px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
}

.footer .logo {
  width: 180px;
  height: 46px;
}

.logotypes-container {
  display: flex;
  align-items: center;
  max-width: 180px;
  flex-wrap: wrap;
  gap: 37px 30px;
  margin-right: 20px;
}

.support-block a {
  color: var(--color-purple);
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 1%;
  text-decoration: none;
}

.support-block h6 {
  text-align: left;
  color: var(--color-text);
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 1%;
  margin-bottom: 6px;
  padding-top: 5px;
}

.youmiwork-mail {
  display: block;
  margin-bottom: 21px;
}

.about-block {
  display: grid;
  grid-template-columns: 150px;
  gap: 24px;
}

.footer h5 {
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  color: var(--color-purple);
}

.politic-block h6 {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 1%;
  color: var(--color-text);
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 2px;
  text-align: left;
}

.politic-block h6:not(:last-child) {
  margin-bottom: 20px;
}

/*Адаптив*/
@media (max-width: 480px) {
  h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 2%;
    text-align: center;
  }

  h2 {
    font-weight: 800;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 2%;
    text-align: center;
  }

  h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 2%;
    text-align: center;
  }

  h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 1%;
    text-align: center;
  }

  h5 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 1%;
    text-align: left;
    color: var(--color-text);
  }

  h6 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 1%;
    text-align: center;
    color: var(--color-purple);
  }

  .container {
    max-width: 100%;
    margin-inline: 30px;
  }

  /*1 блок и header*/
  .menu,
  .btnLogin {
    display: none;
  }

  header .container {
    padding-top: 28px;
  }

  .logo {
    max-width: 100px;
    max-height: 26px;
  }

  .burger-menu {
    display: block;
    width: 30px;
    height: 22px;
  }

  .hero-block {
    padding: 47px 0 50px;
  }

  .hero-block .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .hero-block-text {
    position: relative;
    margin-inline: auto;
  }

  .hero-block-picture {
    width: 199px;
    height: 170px;
    margin-inline: auto;
    margin-top: 41px;
  }

  .hero-block-text h1:nth-child(1) {
    margin-bottom: 13px;
    text-align: center;
  }

  .ellipse-hero {
    position: absolute;
    left: -7px;
    bottom: -6px;
    width: 112px;
    height: 45px;
  }

  /*Блок 2*/
  .second-block {
    padding-block: 50px;
    background-color: var(--color-white);
  }

  .second-block img {
    max-width: 120px;
  }

  .cards {
    display: flex;
    gap: 0 20px;
    align-items: start;
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    /*-webkit-overflow-scrolling: touch;*/
    overscroll-behavior-x: contain;
    touch-action: pan-x;
    scrollbar-width: none;
    max-width: 100%;
    padding-inline: 10px;
  }

  .second-block .cards::-webkit-scrollbar {
    display: none;
  }

  /*Dots*/
  .appreciation-sider-dots {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    justify-content: center;
  }

  .appreciation-sider-dots label {
    width: 10px;
    height: 10px;
    background-color: var(--color-dopElements);
    border-radius: 50%;
    transition: background-color 0.3s;
  }

  .appreciation-sider-dots label.active {
    background-color: var(--color-purple);
  }

  .card-info {
    min-width: 300px;
    min-height: 205px;
    margin-top: 100px;
    padding: 80px 20px 30px;
    background-color: var(--color-skyBlue);
    text-align: center;
    border-radius: 20px;
    position: relative;
    flex: 0 0 100%;
    scroll-snap-align: center;
    min-width: unset;
    width: 100%;
    max-width: 100%;
  }

  .card-info h3 {
    margin-bottom: 8px;
  }

  .card-info:nth-child(2) {
    height: 228px;
  }

  .image-second_block {
    position: absolute;
    left: 100px;
    top: -60px;
  }

  .card-info p {
    margin: 0 auto;
  }
}
