* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: none;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
}

:root {
  /*Цвета*/
  --color-purple: rgba(120, 114, 185, 1);
  --color-white: #fff;
  --color-skyBlue: rgba(249, 252, 255, 1);
  --color-btnColor: rgba(255, 255, 255, 1);
  --color-text: rgba(77, 77, 82, 1);
  --color-btnRates: rgba(241, 230, 247, 1);
  --color-btnRates-hover: rgba(215, 195, 230, 1);
  --color-shadow: rgba(205, 225, 255, 1);
  --color-dopElements: rgba(235, 245, 255, 1);
  --color-btnLogin-hover: rgba(215, 195, 230, 0.25);

  /**/
}

body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2%;
  color: var(--color-text);
  background-color: var(--color-white);
}

h1 {
  font-size: 44px;
  color: var(--color-purple);
  font-weight: 900;
}

h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 130%;
  color: var(--color-purple);
  margin: 0 auto;
  padding: auto;
  text-align: center;
}

h3 {
  font-size: 24px;
  line-height: 150%;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 1%;
  color: var(--color-text);
}

h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 1%;
  text-align: center;
}

h5 {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 1%;
  text-align: left;
  color: var(--color-text);
}

h6 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 1%;
  text-align: center;
  color: var(--color-purple);
}

button {
  user-select: none;
  display: block;
}

img {
  user-select: none;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
}

.burger-panel,
.burger-menu {
  display: none;
}

.btnLogin {
  padding: 14px 35px;
  border-radius: 10px;
  font-weight: 550;
  line-height: 140%;
  font-size: 16px;
  text-align: center;
  color: var(--color-purple);
  border: 2px solid var(--color-purple);
  background-color: inherit;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.menu {
  list-style: none;
  display: flex;
  gap: 70px;
}

.menu a {
  cursor: pointer;
  font-weight: 600;
  line-height: 1.88;
  color: var(--color-text);
  text-decoration: none;
}

.menu a:visited {
  color: var(--color-text);
  text-decoration: none;
}

.menu a:hover {
  color: var(--color-purple);
}

#for_psychologists {
  text-decoration: underline var(--color-purple);
  text-underline-offset: 10px;
}

.logo {
  cursor: pointer;
}

/*Hero block*/
.section-first .container {
  padding: 90px 0 120px;
  display: flex;
  justify-content: space-between;
}

.section-first h1 {
  text-align: left;
  margin: 23px 0 26px;
  max-width: 701px;
}

.section-first h3 {
  text-align: left;
  margin: 0;
  margin-bottom: 58px;
  max-width: 620px;
}

.btn-more-info {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 2%;
  text-align: center;
  color: var(--color-btnColor);
  background-color: var(--color-purple);
  border-radius: 16px;
  padding: 20px 50px;
  box-shadow: 8px 10px 1px var(--color-shadow);
  transition: all 0.5s;
}

/*Блок 2*/
.section-second {
  padding: 100px 0 135px;
  background-color: var(--color-skyBlue);
}

.section-second h2 {
  margin-bottom: 100px;
}

.container-advantages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 195px 0;
}

.container-advantages img {
  position: absolute;
  top: -60px;
  left: 60px;
  max-width: 160px;
}

.card-advantage {
  background-color: var(--color-white);
  box-shadow: 10px 15px 1px var(--color-shadow);
  border-radius: 20px;
  padding: 140px 60px 80px;
  min-width: 820px;
  position: relative;
}

.card-advantage strong {
  color: var(--color-purple);
  font-weight: 600;
}

.card-advantage:nth-child(1) {
  grid-column: 1/3;
}

.card-advantage:nth-child(2) {
  grid-column: 2/4;
}

.card-advantage:nth-child(3) {
  grid-column: 1/3;
}

.card-advantage:nth-child(4) {
  grid-column: 2/4;
}

.card-advantage:nth-child(5) {
  grid-column: 1/3;
}

.card-advantage h3 {
  text-align: left;
  margin-bottom: 10px;
}

.card-advantage p {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 1%;

  max-width: 700px;
}

/*Блок 3*/
.section-third {
  padding-block: 120px;
  background-color: var(--color-white);
}

.section-third h4,
.section-third h3 {
  text-align: left;
  margin: 0;
}

.card-expectations {
  display: grid;
  grid-template-columns: calc(420px / 2) calc(420px / 2) 2fr 2fr;
  gap: 40px;
  margin-top: 80px;
}

.expectations {
  background-color: var(--color-dopElements);
  border-radius: 20px;
}

.expectations h4 {
  margin-top: 10px;
}

.expectations-flex {
  display: flex;
  align-items: center;
  gap: 70px;
}

.book {
  padding: 28px 0 28px 60px;
  max-width: 150px;
  box-sizing: content-box;
}

.check_mark_purple {
  padding: 28px 0 28px 60px;
  max-width: 150px;
  box-sizing: content-box;
}

.documents {
  grid-column: 1/5;
}

.diplom {
  grid-column: 1/3;
  padding: 28px 58px;
}

.supervisy {
  grid-column: 3/4;
  padding: 28px 65px;
}

.therapy {
  grid-column: 4/5;
  padding: 28px 65px;
}

.qualification {
  grid-column: 1/5;
}

.expectations-details {
  padding: 39px 160px 39px 0;
}

.stage {
  box-sizing: content-box;
  max-width: 674px;
}

/*Блок 4*/
.section-fourth {
  padding: 120px 0 135px;
  background-color: var(--color-skyBlue);
}

.section-fourth h2 {
  margin-bottom: 96px;
}

.container-steps {
  display: grid;
  grid-template-columns: 2fr 1fr 3fr;
  gap: 150px 0;
  position: relative;
  margin-bottom: 120px;
}

.step-card {
  display: flex;
  align-items: center;
  position: relative;
}

.step_text-container {
  z-index: 200;
}

.step_text-container p {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 1%;
}

.one .step_text-container p,
.one .step_text-container h3 {
  margin-left: 70px;
}

.two .step_text-container p,
.two .step_text-container h3,
.three .step_text-container p,
.three .step_text-container h3 {
  margin-left: 31px;
}

.four .step_text-container p,
.four .step_text-container h3 {
  margin-left: 38px;
}

.step_text-container h3 {
  margin-bottom: 5px;
  text-align: left;
}

.step-number_img {
  z-index: 200;
}

.circle-img {
  position: absolute;
  left: 25px;
  z-index: 100;
}

.noun-arrow-down {
  position: absolute;
  right: 300px;
  top: 48px;
  z-index: 100;
}

.noun-arrow-2 {
  position: absolute;
  left: 270px;
  top: 300px;
  rotate: 145deg;
  z-index: 100;
}

.noun-arrow-3 {
  position: absolute;
  right: 316px;
  bottom: 180px;
  z-index: 100;
}

.one {
  grid-column: 1/4;
  max-width: 700px;
}

.two {
  grid-column: 3/4;
  max-width: 570px;
}

.three {
  grid-column: 1/4;
  max-width: 580px;
}

.four {
  grid-column: 3/4;
  max-width: 570px;
}

.btn-connect {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 2%;
  text-align: center;
  color: var(--color-btnColor);
  background-color: var(--color-purple);
  border-radius: 16px;
  padding: 20px 100px;
  box-shadow: 8px 10px 1px var(--color-shadow);
  transition: all 0.5s;
  display: block;
  max-width: 360px;
  margin-inline: auto;
}

/*Блок 5*/
.section-fifth {
  padding: 120px 0 135px;
}

.questions-container {
  margin-top: 70px;
}

details {
  background-color: var(--color-dopElements);
  margin-bottom: 30px;
  padding: 30px 100px;
  border-radius: 25px;
}

summary {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 160px;
  cursor: pointer;
  user-select: none;
}

details p {
  margin-top: 10px;
}

summary::after {
  content: url("../images/plus.png");
  transition: all 0.3s;
}

details[open] summary::after {
  content: url("../images/minus.png");
  rotate: -180deg;
}

.btn-more {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 2%;
  text-align: center;
  color: var(--color-btnColor);
  background-color: var(--color-purple);
  border-radius: 16px;
  padding: 20px 100px;
  box-shadow: 8px 10px 1px var(--color-shadow);
  transition: all 0.5s;
  display: block;
  max-width: 320px;
  margin-inline: auto;
  margin-top: 90px;
}

/*Блок 6*/
.section-sixth {
  padding: 80px 0 95px;
  background-color: var(--color-skyBlue);
}

.section-sixth .container {
  position: relative;
}

.container-elements {
  display: grid;
  grid-template-columns: 782px 398px;
}

.psichologist-team_img {
  position: absolute;
  right: 0;
  top: -145px;
}

.container_text h2 {
  text-align: left;
  margin-bottom: 25px;
}

.container_text h3 {
  text-align: left;
  font-weight: 500;
}

.btn-request {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 2%;
  text-align: center;
  color: var(--color-btnColor);
  background-color: var(--color-purple);
  border-radius: 16px;
  padding: 20px 100px;
  box-shadow: 8px 10px 1px var(--color-shadow);
  transition: all 0.5s;
  display: block;
  max-width: 360px;
  margin-inline: auto;
  margin-top: 90px;
}

/*Блок 7*/
.section-seventh {
  padding-block: 120px;
}

.section-seventh h3 {
  margin-top: 15px;
  font-weight: 500;
}

.btn-mail-support {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 2%;
  text-align: center;
  color: var(--color-purple);
  border: 2px solid var(--color-purple);
  border-radius: 16px;
  padding: 20px 100px;
  display: block;
  max-width: 320px;
  margin-inline: auto;
  margin-top: 60px;
}

/*footer*/
.footer {
  padding-block: 80px;
  background-color: var(--color-skyBlue);
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
}

.footer .logo {
  width: 180px;
  height: 46px;
}

.logotypes-container {
  display: flex;
  align-items: center;
  max-width: 180px;
  flex-wrap: wrap;
  gap: 37px 30px;
  margin-right: 20px;
}

.support-block a {
  color: var(--color-purple);
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 1%;
  text-decoration: none;
}

.support-block h6 {
  text-align: left;
  color: var(--color-text);
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 1%;
  margin-bottom: 6px;
  padding-top: 5px;
}

.youmiwork-mail {
  display: block;
  margin-bottom: 21px;
}

.about-block {
  display: grid;
  grid-template-columns: 150px;
  gap: 24px;
}

.footer h5 {
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  color: var(--color-purple);
}

.politic-block h6 {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 1%;
  color: var(--color-text);
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 2px;
  text-align: left;
}

.politic-block h6:not(:last-child) {
  margin-bottom: 20px;
}

/*Медиа запросы*/
@media (max-width: 480px) {
  h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 2%;
    text-align: center;
  }

  h2 {
    font-weight: 800;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 2%;
    text-align: center;
  }

  h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 2%;
    text-align: center;
  }

  h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 1%;
    text-align: center;
  }

  h5 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 1%;
    text-align: left;
    color: var(--color-text);
  }

  h6 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 1%;
    text-align: center;
    color: var(--color-purple);
  }

  .container {
    max-width: 100%;
    margin-inline: 30px;
  }

  /*1 блок и header*/
  .menu,
  .btnLogin {
    display: none;
  }

  header .container {
    padding-top: 28px;
  }

  #for_psychologists {
    text-decoration: underline var(--color-purple);
    text-underline-offset: 10px;
  }

  .logo {
    cursor: pointer;
    width: 100px;
  }

  /*Hero block*/
  .section-first .container {
    padding: 48px 0 50px;
    flex-wrap: wrap;
  }

  .section-first h1 {
    text-align: left;
    margin: 0 auto 10px;
    max-width: 701px;
  }

  .section-first h3 {
    margin: 0;
    margin-bottom: 35px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
  }

  .btn-more-info {
    text-decoration: none;
    display: block;
    font-size: 16px;
    text-align: center;
    padding: 20px 30px;
    max-width: calc(100% - 10px);
    margin-inline: auto;
  }

  .illustr_main_psichologists {
    width: 220px;
    height: 179px;
    display: block;
    margin: 50px auto 0;
  }

  /*footer*/
  .footer {
    padding-block: 40px;
  }

  .footer .container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px 20px;
  }

  .logotypes-container {
    display: block;
    grid-column: 1/3;
  }

  .logotypes-container-mobile {
    grid-column: 1/3;
    display: flex;
    gap: 0 30px;
    order: 4;
  }

  .logotypes-container-mobile img {
    width: 40px;
    height: 40px;
  }

  .footer .logo {
    width: 100px;
    height: 26px;
  }

  .vk-logo,
  .tg-logo,
  .dzen-logo {
    display: none;
  }

  .support-block {
    order: 3;
    grid-column: 1/3;
  }

  .support-block a {
    font-size: 16px;
  }

  .support-block h6 {
    font-size: 14px;
    margin-bottom: 5px;
    padding-top: 5px;
  }

  .youmiwork-mail {
    margin-bottom: 20px;
  }

  .about-block {
    display: grid;
    grid-template-columns: 150px;
    gap: 20px;
  }

  .footer h5 {
    font-size: 16px;
  }

  .politic-block {
    order: 5;
    grid-column: 1/3;
  }

  .politic-block h6 {
    font-size: 14px;
  }

  /* ===== BURGER MENU ===== */

  .burger-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 90;
  }

  #for_psichologists {
    color: var(--color-purple);
    text-decoration: none;
  }

  .burger-panel {
    position: fixed;
    top: 0;
    right: -100%;
    width: 65%;
    max-width: 320px;
    height: 100%;
    background: var(--color-white);
    padding: 30px 25px 40px 30px;
    transition: 0.3s ease-in-out;
    z-index: 100;
    display: flex;
    flex-direction: column;
  }

  .burger-panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .burger_logo {
    width: 100px;
  }

  .cross_burger {
    width: 24px;
    height: 24px;
  }

  .burger-close {
    border: none;
    background: none;
  }

  .burger-list {
    list-style: none;
    margin-top: 40px;
    margin-bottom: 226px;
  }

  .burger-list li {
    margin-bottom: 15px;
  }

  .inputButton_container li {
    margin-bottom: 0;
  }

  .burger-list a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 2%;
    color: var(--color-text);
  }

  .inputButton_container {
    display: flex;
    gap: 18px;
    align-items: center;
  }

  .arrow_burger {
    width: 24px;
  }

  /* ACTIVE */

  .burger-panel.active {
    right: 0;
  }

  .burger-overlay.active {
    opacity: 1;
    visibility: visible;
  }

  .burger-menu {
    display: block;
    width: 30px;
    height: 22px;
  }
}

@media (hover: hover) {
  .btn-more-info:hover {
    box-shadow: 4px 5px 1px var(--color-shadow);
  }

  .btnLogin:hover {
    background-color: var(--color-btnLogin-hover);
  }

  .btn-connect:hover {
    box-shadow: 4px 5px 1px var(--color-shadow);
  }

  .btn-more:hover {
    box-shadow: 4px 5px 1px var(--color-shadow);
  }

  .btn-request:hover {
    box-shadow: 4px 5px 1px var(--color-shadow);
  }

  .btn-mail-support:hover {
    background-color: var(--color-btnLogin-hover);
  }
}
