* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  max-width: 100%;
  scroll-behavior: smooth;
  scrollbar-width: none;
  overflow-x: hidden;
  overscroll-behavior-x: none;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: none;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
}

:root {
  /*Цвета*/
  --color-purple: rgba(120, 114, 185, 1);
  --color-white: #fff;
  --color-skyBlue: rgba(249, 252, 255, 1);
  --color-btnColor: rgba(255, 255, 255, 1);
  --color-text: rgba(77, 77, 82, 1);
  --color-btnRates: rgba(241, 230, 247, 1);
  --color-btnRates-hover: rgba(215, 195, 230, 1);
  --color-shadow: rgba(205, 225, 255, 1);
  --color-dopElements: rgba(235, 245, 255, 1);
  --color-btnLogin-hover: rgba(215, 195, 230, 0.25);
  --color-redElements: rgba(250, 120, 140, 1);
}

body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2%;
  background-color: var(--color-skyBlue);
  color: var(--color-text);
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
}

button {
  user-select: none;
  display: block;
}

img {
  user-select: none;
}

.circle {
  position: absolute;
  z-index: -100;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 70px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 70px;
}

.menu a {
  cursor: pointer;
  font-weight: 600;
  line-height: 1.88;
  color: var(--color-text);
  text-decoration: none;
}

.menu a:visited {
  color: var(--color-text);
  text-decoration: none;
}

.logo {
  width: 170px;
  height: 44px;
  margin-left: 0;
}

.main-content {
  min-height: 524px;
}

.button-login {
  border: 2px var(--color-purple) solid;
  color: var(--color-purple);
  border-radius: 10px;
  line-height: 140%;
  font-weight: 600;
  padding: 14px 35px;
  text-decoration: none;
  margin: 0;
  user-select: none;
}

.main-info {
  max-width: 640px;
  padding-top: 17px;
}

h1 {
  font-size: 44px;
  color: var(--color-purple);
  font-weight: 900;
}

h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 130%;
  color: var(--color-purple);
  margin: 0 auto;
  padding: auto;
  text-align: center;
}

h3 {
  font-size: 24px;
  line-height: 150%;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 1%;
  color: var(--color-text);
}

h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 1%;
  text-align: center;
}

h5 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 1%;
  text-align: left;
  color: var(--color-text);
}

h6 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 1%;
  text-align: center;
  color: var(--color-purple);
}

.h2-main {
  font-size: 40px;
  max-width: 420px;
  font-weight: 600;
  line-height: 140%;
  margin: 10px 0 81px;
  color: var(--color-text);
  text-align: left;
}

.burger-menu {
  display: none;
}

.btn-search {
  background-color: var(--color-purple);
  color: var(--color-btnColor);
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
  border-radius: 16px;
  text-decoration: none;
  padding: 18px 80px;
  cursor: pointer;
  box-shadow: 8px 10px 1px var(--color-shadow);
  user-select: none;
  transition: box-shadow 0.5s;
}

.text {
  margin-top: 60px;
  margin-left: 15px;
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
}

/*Блок 1, hero-block*/

.main-content .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: top;
  padding: 75px 0 81px;
}

.message-icon {
  position: absolute;
  right: 0;
  bottom: -20px;
}

/*Блок 2, гарантии*/

.second-block {
  padding: 82px 0 100px;
  background-color: var(--color-white);
}

.second-block img {
  max-width: 220px;
  max-height: 220px;
}

/* slider controls hidden by default (desktop) */
.second-block input[type="radio"],
.slider-dots {
  display: none;
}

.cards {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: start;
  justify-content: space-between;
}

.card-info {
  min-width: 380px;
  min-height: 300px;
  margin-top: 190px;
  padding: 130px 0 44px;
  box-sizing: border-box;
  background-color: var(--color-dopElements);
  text-align: center;
  border-radius: 20px;
  position: relative;
}

.card-info h3 {
  margin-bottom: 15px;
}

.card-info:nth-child(2) h3 {
  max-width: 220px;
  margin-bottom: 18px;
}

.card-info:nth-child(2) {
  min-height: 350px;
}

.image-second_block {
  position: absolute;
  left: 85px;
  top: -100px;
}

.card-info p {
  max-width: 270px;
  margin: 0 auto;
}

.card-info:nth-child(3) p {
  max-width: 230px;
}

/*Блок 3, проблемы*/

.third-block {
  padding: 80px 0 90px;
  overflow: hidden;
}

.third-block .container {
  max-width: 100%;
  position: relative;
}

.third-block h4 {
  max-width: 578px;
  margin: 0 auto;
}

.card-container {
  list-style: none;
  font-size: 20px;
  line-height: 120%;
  font-weight: 600;
  margin-top: 145px;
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.card-container2 {
  list-style: none;
  font-size: 20px;
  line-height: 120%;
  font-weight: 600;
  display: flex;
  column-gap: 30px;
  margin-top: 20px;
}

.third-block ul li {
  padding: 13px 40px;
  margin-bottom: 1px;
}

.white-element {
  border-radius: 40px;
  border: 2px var(--color-purple) solid;
  text-align: center;
  color: var(--color-purple);
  list-style: none;
}

.purple-element {
  border-radius: 40px;
  background-color: var(--color-purple);
  text-align: center;
  color: var(--color-btnColor);
}

.arrow {
  position: absolute;
  right: 300px;
  top: 100px;
}

/* Marquee container */
.marquee {
  overflow: hidden;
  width: 100%;
  margin-top: 140px;
}

.marquee.reverse {
  margin-top: 24px;
}

/* Track */
.marquee-track {
  display: flex;
  width: max-content;
  animation: move-to-left 15s infinite linear;
  list-style: none;
  font-size: 20px;
  line-height: 120%;
  font-weight: 600;
  align-items: center;
}

.marquee.reverse .marquee-track {
  animation: move-to-right 15s infinite linear;
}

/*Animations*/
@keyframes move-to-left {
  to {
    translate: -50%;
  }
}

@keyframes move-to-right {
  from {
    translate: -50%;
  }
}

/* Items */
.marquee-track li {
  padding: 13px 40px;
  margin-right: 30px;
  white-space: nowrap;
}

/*Блок 4, преимущества*/
.fourth-block {
  background-color: var(--color-white);
  padding-block: 100px;
}

.fourth-block .container {
  position: relative;
}

/* slider controls hidden by default (desktop) */
.fourth-block input[type="radio"],
.fourth-block .slider-dots {
  display: none;
}

.fourth-block h2,
.fourth-block h3,
.fourth-block h4 {
  text-align: left;
}

.fourth-block h2 {
  margin: 0;
  margin-bottom: 27px;
  max-width: 1080px;
}

.fourth-block h3 {
  margin-bottom: 10px;
}

#four-main-h4 {
  margin-bottom: 10px;
  max-width: 780px;
}

.line {
  position: absolute;
  left: 490px;
  top: 155px;
  width: 321px;
  height: 11px;
}

.card-advantages {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  gap: 30px;
  margin-top: 59px;
}

.advantage {
  background-color: var(--color-dopElements);
  border-radius: 20px;
}

.advantage h4 {
  margin-top: 15px;
}

.advantage-flex {
  display: flex;
  gap: 50px;
}

.book {
  padding: 20px 0 20px 30px;
}

.watch {
  padding: 20px 0 20px 30px;
}

.edu {
  grid-column: 1/3;
}

.exp {
  grid-column: 3/4;
}

.train {
  grid-column: 1/2;
}

.therapy {
  grid-column: 2/4;
}

.min-card {
  padding: 42px 90px;
}

.edu .advantage-details {
  padding: 28px 59px 29px 0;
}

.therapy .advantage-details {
  padding: 42px 170px 43px 0;
}

#passing {
  min-width: 290px;
}

/*Блок 5 - шаги терапии*/
.fifth-block {
  padding: 100px 0 131px;
}

.text-block-1 h3 {
  text-align: left;
}

.fifth-block p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 1%;
  text-align: left;
}

.first-step {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px 0 160px;
  gap: 200px;
}

.text-number-1 {
  display: flex;
  align-items: center;
  gap: 60px;
  max-width: 500px;
  position: relative;
}

.text-block-1 p {
  max-width: 390px;
  margin-top: 5px;
}

.circle-1 {
  left: 22px;
}

.anxiety {
  width: 480px;
  padding: 20px 60px 30px 40px;
  background-color: var(--color-btnColor);
  border-radius: 20px;
  box-shadow: 8px 8px 1px var(--color-shadow);
}

.anxiety h6 {
  text-align: left;
}

.ovals {
  list-style-type: none;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 2fr 2fr;
  gap: 10px;
  margin-top: 20px;
}

.purple-ovals {
  border: 1px solid var(--color-purple);
  border-radius: 30px;
  height: 30px;
}

.blue-ovals {
  background-color: var(--color-dopElements);
  border-radius: 30px;
  height: 30px;
}

.oval1 {
  grid-column: 1/4;
}

.oval2 {
  grid-column: 4/6;
}

.oval3 {
  grid-column: 1/2;
}

.oval4 {
  grid-column: 2/5;
}

.oval5 {
  grid-column: 1/3;
}

.oval6 {
  grid-column: 3/4;
}

.oval7 {
  grid-column: 4/6;
}

/*Второй подблок*/
.second-step {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 160px;
  gap: 160px;
}

/*Профили*/
.profiles {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  background-color: var(--color-btnColor);
  border-radius: 20px;
  box-shadow: 8px 8px 1px var(--color-shadow);
  width: 480px;
  padding: 28px 30px 26px;
}

.line-underProfile {
  width: 80px;
  height: 10px;
  background-color: var(--color-dopElements);
  border-radius: 30px;
  margin-inline: auto;
}

.profiles h6 {
  margin-block: 8px;
  background-color: var(--color-dopElements);
  border-radius: 30px;
  width: 120px;
}

.img-profile_3,
.img-profile_2,
.img-profile_1 {
  margin-inline: 10px;
}
/*Текстовый блок*/

.text-number-2 {
  display: flex;
  gap: 60px;
  align-items: center;
  position: relative;
}

.circle-2 {
  left: 28px;
}

.text-block-2 h3 {
  text-align: left;
  margin-bottom: 5px;
}

/*Подблок 3*/
.third-step {
  display: flex;
  align-items: center;
  margin-bottom: 160px;
  gap: 190px;
}

.text-number-3 {
  display: flex;
  align-items: center;
  gap: 51px;
  position: relative;
  width: 510px;
}

.number-3 {
  width: 89px;
  height: 100px;
}

.circle-3 {
  left: 28px;
  top: -25px;
}

.text-block-3 h3 {
  text-align: left;
  margin-bottom: 5px;
}

.calendar {
  display: flex;
  align-items: top;
  gap: 40px;
  background-color: var(--color-btnColor);
  border-radius: 20px;
  box-shadow: 8px 8px 1px var(--color-shadow);
  padding: 30px 50px 24px 30px;
}

.graph {
  display: grid;
  grid-template: repeat(3, 30px) / repeat(6, 30px);
  gap: 20px;
}

.day-of-calendar {
  width: 30px;
  height: 30px;
  background-color: var(--color-dopElements);
  border-radius: 5px;
  margin: 0;
}

.red {
  background-color: var(--color-redElements);
}

.third-step .line-underProfile {
  margin: 0 0 10px;
}

.line-underProfile_small {
  width: 60px;
  height: 10px;
  background-color: var(--color-dopElements);
  border-radius: 30px;
}

.profile_4 {
  width: 80px;
}

.profile_4 h6 {
  text-align: left;
  margin-block: 8px;
}

/*Подблок 4*/
.four-step {
  display: flex;
  align-items: center;
  gap: 160px;
  box-sizing: border-box;
  margin-bottom: 158px;
}

.themes {
  background-color: var(--color-btnColor);
  border-radius: 20px;
  box-shadow: 8px 8px 1px var(--color-shadow);
  padding: 30px 40px 30px 30px;
  width: 410px;
}

.themes h6 {
  text-align: left;
  margin-bottom: 20px;
}

.themes-block {
  display: flex;
  align-items: center;
  gap: 30px;
}

.mark-box {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.mark-box.purple {
  background-color: rgba(150, 145, 210, 1);
}

.mark-box.white {
  border: 1px solid rgba(150, 145, 210, 1);
  box-sizing: border-box;
}

.line-blue {
  width: 150px;
  height: 10px;
  background-color: var(--color-dopElements);
  border-radius: 20px;
}

.theme-block {
  display: flex;
  gap: 20px;
  align-items: center;
  max-width: 190px;
  flex-wrap: wrap;
}

.text-number-4 {
  width: 502px;
  display: flex;
  align-items: center;
  gap: 50px;
  position: relative;
}

.text-number-4 h3 {
  text-align: left;
}

.circle-4 {
  left: 22px;
}
/*Подблок 5 с кнопкой*/
.five-button-step {
  display: flex;
  align-items: center;
  gap: 321px;
}

.text-number-5 {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  width: 432px;
}

.text-number-5 p {
  width: 312px;
}

.circle-5 {
  left: 50px;
}

.button_first_step {
  background-color: var(--color-purple);
  color: var(--color-btnColor);
  border-radius: 15px;
  line-height: 100%;
  font-weight: 600;
  font-size: 20px;
  padding: 25px 68px;
  text-decoration: none;
  width: 390px;
  text-align: center;
  margin: 0;
  cursor: pointer;
  box-shadow: 8px 10px 1px var(--color-shadow);
  transition: box-shadow 0.5s;
}

/*Блок 6*/
.sixth-block {
  background-color: var(--color-white);
  padding: 120px 0 84px;
}

.btn-more-question {
  display: none;
}

details {
  background-color: var(--color-dopElements);
  padding: 30px 100px;
  margin-bottom: 30px;
  border-radius: 25px;
  overflow: hidden;
  user-select: none;
}

details p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 1%;
  max-width: 700px;
  margin-top: 7px;
}

.quetion1 {
  margin-top: 60px;
}

details summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 160px;
  cursor: pointer;
}

summary::after {
  content: url("../images/plus.png");
  transition: all 0.3s ease 0s;
}

details[open] summary::after {
  content: url("../images/minus.png");
  transform: rotate(-0.5turn);
}

/*Блок 7*/
.seventh-block {
  padding: 120px 0 135px;
}

.seventh-block h2,
.seventh-block h4 {
  text-align: left;
}

.seventh-block h2 {
  max-width: 680px;
  margin: 0 0 35px;
}

.seventh-block h4 {
  max-width: 550px;
  font-weight: 600;
}

.application-points {
  display: grid;
  grid-template-columns: 40px 440px;
  align-items: center;
  gap: 45px 30px;
  max-width: 510px;
  margin-top: 45px;
}

.application-points p {
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 1%;
}

.application-points p:first-of-type {
  max-width: 330px;
}

.app-image-container {
  display: flex;
  gap: 111px;
}

.phones {
  margin-top: 14px;
}

.btnDownload {
  border-radius: 15px;
  padding: 25px 70px;
  border: none;
  width: 380px;
  height: 70px;
  background-color: var(--color-purple);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 2%;
  text-align: center;
  color: var(--color-btnColor);
  box-shadow: 10px 15px 1px var(--color-shadow);
  margin: 97px auto 0;
  transition: box-shadow 0.5s;
  display: block;
  box-sizing: border-box;
}

.btnDownload,
.btnDownload:visited,
.btnDownload:active,
.btnDownload:focus-visible {
  text-decoration: none;
  color: white;
}

/*Блок 8*/
.eighth-block {
  padding-block: 120px;
  background-color: var(--color-btnColor);
}

.eighth-block .container {
  background-color: var(--color-skyBlue);
  border-radius: 25px;
  text-align: left;
  padding: 55px 130px 72px 100px;
  position: relative;
  box-sizing: border-box;
}

.eighth-block .container h2 {
  text-align: left;
  margin-bottom: 20px;
}

.eighth-block .container h3 {
  text-align: left;
  margin-bottom: 15px;
}

.eighth-block .container h4 {
  max-width: 780px;
  text-align: left;
}

.numbers-container {
  width: 950px;
  display: grid;
  grid-template-columns: repeat(2, 350px);
  gap: 30px 50px;
  margin-top: 50px;
}

.number-text-fourth {
  margin-bottom: -30px;
}

.call-specialist {
  position: absolute;
  top: -29px;
  right: 30px;
}

/*footer*/
.footer {
  padding-block: 80px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
}

.footer .logo {
  width: 180px;
  height: 46px;
}

.logotypes-container {
  display: flex;
  align-items: center;
  max-width: 180px;
  flex-wrap: wrap;
  gap: 37px 30px;
  margin-right: 20px;
}

.support-block a {
  color: var(--color-purple);
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 1%;
  text-decoration: none;
}

.support-block h6 {
  text-align: left;
  color: var(--color-text);
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 1%;
  margin-bottom: 6px;
  padding-top: 5px;
}

.youmiwork-mail {
  display: block;
  margin-bottom: 21px;
}

.about-block {
  display: grid;
  grid-template-columns: 150px;
  gap: 24px;
}

.footer h5 {
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  color: var(--color-purple);
}

.politic-block h6 {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 1%;
  color: var(--color-text);
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 2px;
  text-align: left;
}

.politic-block h6:not(:last-child) {
  margin-bottom: 20px;
}

/*Адаптив*/
@media (max-width: 480px) {
  h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 2%;
    text-align: center;
  }

  h2 {
    font-weight: 800;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 2%;
    text-align: center;
  }

  h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 2%;
    text-align: center;
  }

  h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 1%;
    text-align: center;
  }

  h5 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 1%;
    text-align: left;
    color: var(--color-text);
  }

  h6 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 1%;
    text-align: center;
    color: var(--color-purple);
  }

  .h2-main {
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 2%;
    text-align: center;
    margin: 5px 0 30px;
  }

  .container {
    max-width: 100%;
    margin-inline: 30px;
  }

  /*1 блок и header*/
  .header ul,
  .button-login {
    display: none;
  }

  .header .container {
    padding-top: 28px;
  }

  .logo {
    max-width: 100px;
    max-height: 26px;
  }

  .burger-menu {
    display: inline-block;
    max-width: 30px;
    max-width: 22px;
  }

  .main-content .container {
    flex-wrap: wrap;
  }

  .main-image {
    max-width: 270px;
    max-height: 203px;
    margin-inline: auto;
  }

  .main-content .container {
    padding: 47px 0 72px;
  }

  .btn {
    border-radius: 10px;
    padding: 17px 70px;
    letter-spacing: 2%;
    text-align: center;
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 2%;
    text-align: center;
  }

  .text {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin-block: 30px;
  }

  .message-icon {
    max-width: 40px;
    max-height: 40px;
    bottom: 20px;
  }

  /*Блок 2*/
  .second-block {
    padding: 40px 0 45px;
    overflow-x: hidden;
  }

  .second-block img {
    max-width: 120px;
    max-height: 120px;
  }

  /* ===== SLIDER WITH SWIPE + RADIO (MOBILE ONLY) ===== */

  .second-block input[type="radio"] {
    display: none;
  }

  .second-block .cards {
    display: flex;
    box-sizing: border-box;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-x: contain;
    touch-action: pan-x;
    scrollbar-width: none;
    padding-inline: 10px;
    max-width: 100%;
  }

  .second-block .cards::-webkit-scrollbar {
    display: none;
  }

  /* ===== DOTS ===== */

  .slider-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }

  .slider-dots label {
    width: 10px;
    height: 10px;
    background-color: #dcdcf0;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  /* active dot */
  .slider-dots label.active {
    background-color: var(--color-purple);
  }

  /**/

  .card-info {
    min-width: 300px;
    min-height: 185px;
    margin-top: 90px;
    padding: 80px 0 30px;
    box-sizing: border-box;
    background-color: var(--color-skyBlue);
    text-align: center;
    border-radius: 20px;
    position: relative;
    flex: 0 0 100%;
    scroll-snap-align: center;
    min-width: unset;
    width: 100%;
    max-width: 100%;
  }

  .card-info h3 {
    margin-bottom: 8px;
  }

  .card-info:nth-child(2) h3 {
    max-width: 200px;
    margin-bottom: 8px;
  }

  .card-info:nth-child(2) {
    min-height: 235px;
  }

  .image-second_block {
    position: absolute;
    left: 32%;
    top: -60px;
  }

  .card-info p {
    max-width: 260px;
    margin: 0 auto;
  }

  .card-info:nth-child(3) p {
    max-width: 210px;
  }

  /*Блок 3*/
  .third-block {
    padding-block: 40px;
  }

  .third-block .container {
    overflow: visible;
  }

  .third-block h3 {
    margin-bottom: 10px;
  }

  .third-block h4 {
    max-width: 320px;
    font-weight: 400;
    margin-top: 15px;
  }

  .third-block ul li {
    padding: 10px 30px;
    margin-block: 1px;
    margin-right: 15px;
  }

  .white-element {
    border-radius: 40px;
    border: 1px solid var(--color-purple);
  }

  .purple-element {
    border-radius: 40px;
  }

  .arrow {
    --container-width: 100%;
    position: absolute;
    max-width: 50px;
    left: calc(var(--container-width) - 85px);
    top: 160px;
    rotate: 40deg;
  }

  /* Marquee container */
  .marquee {
    overflow: visible;
    margin-top: 80px;
  }

  .marquee.reverse {
    margin-top: 15px;
  }

  /* Track */
  .marquee-track {
    display: flex;
    width: max-content;
    animation: move-to-left 15s infinite linear;
    list-style: none;
    font-size: 14px;
    line-height: 120%;
    font-weight: 500;
    align-items: center;
  }

  .marquee.reverse .marquee-track {
    animation: move-to-right 15s infinite linear;
  }

  /*Блок 4, преимущества*/
  .fourth-block {
    padding: 45px 0 40px;
  }

  .fourth-block h2 {
    margin-bottom: 16px;
    max-width: clamp(350px, 360px, 370px);
  }

  .fourth-block h3 {
    margin-bottom: 10px;
  }

  #four-main-h4 {
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 1%;
    margin-bottom: 45px;
    max-width: 300px;
  }

  .line {
    left: clamp(100px, 46%, 350px);
    top: clamp(100px, 30.5vw, 160px);
    width: 155px;
    height: 6px;
  }

  .edu .advantage-details {
    padding: 0;
  }

  .therapy .advantage-details {
    padding: 0;
  }

  .advantage {
    background-color: var(--color-skyBlue);
    max-height: 153px;
    padding: 30px 20px;
    border-radius: 20px;
  }

  .advantage-flex {
    display: block;
  }

  .advantage h3 {
    text-align: center;
  }

  .advantage h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 1%;
    text-align: center;
    margin-top: 8px;
    max-width: 240px;
    margin-inline: auto;
  }

  .book {
    display: none;
  }

  .watch {
    display: none;
  }

  /* ===== SLIDER 4 BLOCK (MOBILE ONLY) ===== */

  .fourth-block input[type="radio"] {
    display: none;
  }

  .fourth-block .card-advantages {
    display: flex; /* вместо grid */
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-x: contain;
    touch-action: pan-x;
    scrollbar-width: none;
  }

  .fourth-block .card-advantages::-webkit-scrollbar {
    display: none;
  }

  .fourth-block .advantage {
    flex: 0 0 85%;
    scroll-snap-align: center;
  }

  .fourth-block .slider-dots-Advantages {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }

  .fourth-block .slider-dots-Advantages label {
    width: 10px;
    height: 10px;
    background-color: #dcdcf0;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .fourth-block .slider-dots-Advantages label.activeDot {
    background-color: var(--color-purple);
  }

  /*Блок 5*/
  /*Блок 5 - шаги терапии*/
  .fifth-block {
    padding: 40px 0 60px;
  }

  .text-block-1 h3 {
    text-align: center;
  }

  .fifth-block p {
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 1%;
    text-align: center;
  }

  .first-step {
    display: block;
    margin: 40px 0 48px;
  }

  .text-number-1 {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    max-width: calc(100% - 30px);
    margin-inline: auto;
  }

  .text-block-1 p {
    margin-top: 8px;
  }

  .number-1 {
    width: 25px;
    height: 50px;
    margin-inline: auto;
  }

  .circle-1 {
    left: 125px;
    top: 0;
    width: 50px;
    height: 50px;
  }

  .anxiety {
    display: none;
  }

  /*Второй подблок*/
  .second-step {
    display: block;
    margin-bottom: 51px;
  }

  /*Профили*/
  .profiles {
    display: none;
  }

  /*Текстовый блок*/
  .text-number-2 {
    display: flex;
    flex-flow: row wrap;
    gap: 32px 0;
    max-width: calc(100% - 30px);
    margin-inline: auto;
  }

  .text-number-2 p {
    font-size: 14px;
    max-width: clamp(136px, 280px, 380px);
  }

  .number-2 {
    width: 44px;
    height: 50px;
    margin-inline: auto;
  }

  .circle-2 {
    left: 125px;
    top: 0;
    width: 50px;
    height: 50px;
  }

  .text-block-2 {
    margin-inline: auto;
  }

  .text-block-2 h3 {
    text-align: center;
    margin-bottom: 8px;
  }

  /*Подблок 3*/
  .third-step {
    display: block;
    margin-bottom: 50px;
  }

  .text-number-3 {
    display: flex;
    flex-flow: row wrap;
    gap: 31px 0;
    max-width: calc(100% - 30px);
    margin-inline: auto;
  }

  .text-block-3 {
    margin-inline: auto;
  }

  .text-number-3 p {
    max-width: clamp(136px, 280px, 380px);
  }

  .number-3 {
    width: 45px;
    height: 50px;
    margin-inline: auto;
  }

  .circle-3 {
    left: 125px;
    top: 0;
    width: 50px;
    height: 52px;
  }

  .text-block-3 h3 {
    text-align: center;
    margin-bottom: 8px;
  }

  .calendar {
    display: none;
  }

  /*Подблок 4*/
  .four-step {
    display: block;
    margin-bottom: 51px;
  }

  .themes {
    display: none;
  }

  .text-number-4 {
    flex-flow: row wrap;
    gap: 30px 0;
    max-width: calc(100% - 30px);
    margin-inline: auto;
  }

  .text-number-4 h3 {
    text-align: center;
    margin-bottom: 8px;
  }

  .number-4 {
    width: 42px;
    height: 50px;
    margin-inline: auto;
  }

  .circle-4 {
    left: 125px;
    top: 0;
    width: 50px;
    height: 50px;
  }
  /*Подблок 5 с кнопкой*/
  .five-button-step {
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
  }

  .number-5 {
    width: 50px;
    height: 50px;
    margin-inline: auto;
    display: block;
  }

  .text-number-5 {
    display: flex;
    flex-flow: row wrap;
    gap: 15px 1000px;
    max-width: calc(100% - 30px);
    margin-inline: auto;
  }

  .text-block-5 {
    margin-inline: auto;
  }

  .text-number-5 p {
    max-width: clamp(136px, 215px, 380px);
  }

  .circle-5 {
    top: 0;
    left: 125px;
    width: 54px;
    height: 52px;
  }

  .button_first_step {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 2%;
    text-align: center;
    width: calc(100% - 55px);
    padding: 18px 25px;
  }

  /*Блок 6*/
  .sixth-block {
    padding: 50px 0 60px;
  }

  .btn-more-question {
    display: block;
    background-color: var(--color-purple);
    color: var(--color-btnColor);
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 2%;
    text-align: center;
    border-radius: 12px;
    text-decoration: none;
    padding-block: 18px 22px;
    box-shadow: 8px 10px 1px var(--color-shadow);
    user-select: none;
    margin-top: 40px;
  }

  details {
    background-color: var(--color-skyBlue);
    padding: 20px;
    margin-bottom: 25px;
  }

  details p {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 1%;
    max-width: 260px;
    margin-top: 8px;
  }

  .quetion1 {
    margin-top: 40px;
  }

  .quetion3,
  .quetion5,
  .quetion6 {
    display: none;
  }

  details summary {
    gap: 0 30px;
  }

  details summary h5 {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 1%;
  }

  summary::after {
    content: url("../images/plus.png");
    width: 30px;
    height: 30px;
  }

  details[open] summary::after {
    content: url("../images/minus.png");
    width: 30px;
    height: 30px;
  }
}

@media (hover: hover) {
  .btn-search:hover {
    box-shadow: 4px 5px 1px var(--color-shadow);
  }

  .menu a:hover {
    color: var(--color-purple);
  }

  .button-login:hover {
    background-color: var(--color-btnLogin-hover);
  }

  .button_first_step:hover {
    box-shadow: 4px 5px 1px var(--color-shadow);
  }

  .btnDownload:hover {
    cursor: pointer;
    box-shadow: 3px 7px 1px var(--color-shadow);
    text-decoration: none;
    color: var(--color-white);
  }
}
